
<div class='sidebar-upper'>
    <h1 class='logo'>
    <a href='/'>Public blog</a>
  </h1>

  <nav class='nav'>
    <ul class='navlinks'>
      <li class='navlink'><a href='/'>Home</a></li>
      <li class='navlink'><a href='/posts'>View Posts</a></li>
      <li class='navlink'><a href='/create-post'>New Post</a></li>
      <li class='navlink'><a href='/about'>About</a></li>
    </ul>
  </nav>

</div>
<div class="sidebar-lower">
  <%-include('footer')%>
  </div>