
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="styles.css" />
        <title>RayKay91's Blog</title>
      </head>
      <body>
        <%- include('partials/sidebar')%>
        <div class='main-content'>
            <h1 class='redirect'>😭 We can't find the page your looking for. Sorry!</h1>
            <h2 class='redirect redirect-link'><a class='redirect' href="/">Go back to the home page</a></h2>

  </body>
</html>
