<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>About page</title>
  </head>
<%- include('partials/sidebar')%>
<div class='main-content'>
    <div>

  
        <h1>About</h1>
     
    </div>

    <p class='about'>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut sequi et blanditiis, aspernatur corrupti doloremque tempora! Quod, commodi voluptas nam nulla quaerat culpa possimus repellendus voluptatum rerum perspiciatis, laborum alias inventore cum aperiam eius! Saepe, tempora quo sit perferendis labore odio laudantium sequi voluptatum, provident ad ducimus ipsum corporis voluptatem.
    </p>
</div>

